.motion-drawer {
    --default-portal-index: 915;

    overflow: hidden;
    margin: 0 auto;

    position: fixed;
    inset: 0;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;

    z-index: var(--block-portal-index, var(--default-portal-index));

}

.motion-mask-wrapper {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    inset: 0;

    z-index: 0;
    pointer-events: auto;
}


.motion-animation-wrapper {
    z-index: 1;
}
